{{ define "main" }}
<article class="post">

 <header>
  <h2>{{ .Title }}</h2>
  <p class="byline">
  By {{ .Params.Author }}, posted on {{ .Date.Format "2 January, 2006" }}, reading time {{ math.Round (div (countwords .Content) 200.0) }} minutes.
  </p>
  </header>
 
 <section class="body">
  {{ .Content }}
 </section>
 
 <br>
 <hr style="dotted 2px;" />
 <br>
 
 <p>
      <span class="tags">
        Tags:
        {{ range .Params.tags }}
          <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </span>
      
 </p>
 
 <p>
      <span class="categories">
        Categories:
        {{ range .Params.categories }}
          <a class="category" href="/categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </span>
  </p>
  
 
</article>
{{ end }}
