@font-face {
  font-display: swap;
  font-family: 'London Underground';
  font-style:  normal;
  font-weight: 200;
  src: url("../fonts/London Underground Regular.ttf");
}

h1 {
font-family: 'London Underground';
text-align: center;
color: blue;
}

a {
  color: blue;
  text-decoration:none;
}

a:hover {
  color:green;
  text-decoration-line: underline;
}

nav {
text-align: center;
}

h2 {color: red}


