h1 {text-align: center;}
nav {text-align: center; display: flex; justify-content: space-around;}
a {color: blue; text-decoration: underline;}
a:hover {color: blue; text-decoration: underline; font-weight: bold;}
a:active {color: blue; text-decoration: underline; font-weight: normal;}
body {background-color: #E2EDFF; line-height: 200%; padding: 5%;}
button {border-color: black; border-radius: 60px;}
p.byline {color: blue;}

.dark-mode p.byline {color: lightskyblue;}
.dark-mode {background-color: #202020; color: lightgray;}
.dark-mode a:link { color: lightskyblue; }
.dark-mode a:visited { color: lightskyblue; }
.dark-mode a:hover { color: #ffffff; }
.dark-mode a:active { color: lightgray; text-decoration: underline; font-weight: normal; }
