<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
    
        {{- partial "header.html" . -}}
        <hr>
    
        {{- partial "nav.html" . -}}
        <hr>
        <br>
        
        
        
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        <br>
        {{- partial "footer.html" . -}}
    </body>
</html>
