<nav>
  <button style="border-color: pink; border-radius: 100px; padding: 5px 15px;" onclick="window.location.href='/';">
  Home
  </button>
  <button style="border-color: pink; border-radius: 100px; padding: 5px 15px;" onclick="window.location.href='/articles';">
  Articles
  </button>
  <button style="border-color: pink; border-radius: 100px; padding: 5px 15px;" onclick="window.location.href='/contact';">
  Contact
  </button>
</nav>
