<footer>
  <style>
   ul.no-bullets {
   list-style-type: none;
   margin: 0;
   padding: 0; }
  </style>
  <hr>
  <p style="text-align: center;">Copyright {{now.Format "2006"}} - {{ .Site.Params.author}} - All rights reserved</p>
  <hr>
  <ul class="no-bullets">
    <li>
    <a rel="me" href="https://floss.social/@AdamBishop"><img alt="Mastodon" src="/social_buttons/mastodon.svg" height="25" width="25" style="vertical-align:middle;margin:10px 0px"></a>
    <a rel="me" href="https://floss.social/@AdamBishop">Mastodon</a>
    </li>
    <li>
    <a rel="me" href="https://pixelfed.social/adambishop"><img alt="PixelFed" src="/social_buttons/pixelfed.svg" height="23" width="23" style="vertical-align:middle;margin:10px 0px"></a>
    <a rel="me" href="https://pixelfed.social/adambishop">PixelFed</a>
    </li>
    <li>
    <a rel="me" href="https://gitlab.com/vescovaccio"><img alt="GitLab" src="/social_buttons/gitlab.svg" height="23" width="23" style="vertical-align:middle;margin:10px 0px"></a>
    <a rel="me" href="https://gitlab.com/vescovaccio">GitLab</a>
    </li>
    <li>
    <a rel="me" href="https://www.linkedin.com/in/adam-bishop-aab6128/"><img alt="LinkedIn" src="/social_buttons/linkedin.svg" height="23" width="23" style="vertical-align:middle;margin:10px 0px"></a>
    <a rel="me" href="https://www.linkedin.com/in/adam-bishop-aab6128/">LinkedIn</a>
    </li>
    <li>
    <a rel="me" href="https://www.facebook.com/adambishop.it"><img alt="Facebook" src="/social_buttons/facebook.svg" height="23" width="23" style="vertical-align:middle;margin:10px 0px"></a>
    <a rel="me" href="https://www.facebook.com/adambishop.it">Facebook</a>
    </li>
    <li>
    <a rel="me" href="https://instagram.com/adambishop_it"><img alt="Instagram" src="/social_buttons/instagram.svg" height="23" width="23" style="vertical-align:middle;margin:10px 0px"></a>
    <a rel="me" href="https://instagram.com/adambishop_it">Instagram</a>
    </li>
  </ul>
  <hr>
</footer> 
