<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>
  {{- if .Page.IsHome -}}
    {{ .Site.Title }}
  {{- else -}}
    {{ .Title }} – {{ .Site.Title }}
  {{- end -}}
  </title>
  
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description" content="
    {{- with .Page.Description -}}
      {{ . }}
    {{- else -}}
      {{ .Site.Params.description }}
    {{- end -}}">
  
 <link rel="stylesheet" href="{{ "css/stylesheet.css" | relURL }}">
 <link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}"> 
 
 <link rel="shortcut icon" href="/icon/green.png">
 <link rel="apple-touch-icon" href="/icon/green.png">
 
  {{ range .AlternativeOutputFormats -}}
    {{- $link := `<link rel="%s" type="%s" href="%s" title="%s">` -}}
    {{- $title := printf "%s - %s" $.Page.Title $.Site.Title -}}

    {{- if $.Page.IsHome -}}
      {{ $title = $.Site.Title }}
    {{- end -}}

    {{ printf $link .Rel .MediaType.Type .Permalink $title | safeHTML }}
  {{- end }}
  
  <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/feed.xml" title="{{ .Site.Title }}">

  
</head>
