<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  
  <button onclick="myFunction()">🌓 Dark / Light Mode</button>
        <script>
          function myFunction() {
          var element = document.body;
          element.classList.toggle("dark-mode");}
        </script>  
      
<!--
  <a href="/articles">Articles</a>
  <a href="/contact">Contact</a>
-->  
</nav>
