<article>
  <header>
    <h3>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    <time>
      <em>
      {{ .Date | dateFormat "January" }}
      {{ .Date | dateFormat "2" }}
      </em>
    </time>
  </header>

  {{ .Summary }}

</article>
